#item {
    height: 85px !important;
}

.overlay {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup button {
    background-color: #08253F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#alert-button {
    background-color: #08253F;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

#alert-button:hover {
    background-color: #468aac;
}